[2014-08-19 07:11] kingconan opened #1 "expandable textview in listview"
How to reset the collapse-state in a listview?
When listview scrolling up and down, the reused textview's height display not right.

[2014-10-30 10:18] com314159 opened #2 "It have a bug, I don't know why"
You can try add a button a your demo project, and on the onClickListener you set the dummy_text2 again. like

[code]

after the button clicked, (that is the same text is set again after view created and when textview is collapsed), the textview can't expand fully.  I found the mMeasuredTextHeight is a wrong value.

may be I can solve this problem.

thank you for your code.

[2014-11-09 16:12] #1 closed, assigned to Manabu-GT

[2014-11-09 16:12] #2 closed, assigned to Manabu-GT

[2014-11-12 13:12] com314159 opened #4 "please add clearAnimation to onAnimationEnd"
If you not clearAnimation after textview expand or collapse , the android system will call  onMeasure infinite loop.

add clearAnimation to onClick method.

![image](https://cloud.githubusercontent.com/assets/5378240/5010664/7525c8dc-6ab0-11e4-93b2-0b5d71c1db50.png)

thank you.

I don't know if it will cause bug. I have test it and haven't found bug yet.

[2014-11-12 18:39] #4 closed, assigned to Manabu-GT

[2014-12-01 05:43] faraz-ahmad opened #5 "After expanding, it does not show last few lines"
When we expand textview, it is not showing last few lines because getRealTextViewHeight function is not giving correct textview height.I think it should be called on the right place.Please look into this.

[2014-12-13 08:00] hncgc1990 opened #7 "When i set mCollapsed be false ,it will be disappeared after click on it."
The problem is mentioned on tilte..

[2014-12-13 15:29] #7 closed, assigned to Manabu-GT

[2014-12-28 16:38] tundebabzy opened #8 "Can't build with Gradle"
I use Intellij Idea for android development. I have not been able to build the app with Gradle. I get this error:
No such property: GROUP for class: org.gradle.api.publication.maven.internal.ant.DefaultGroovyMavenDeployer

[2014-12-28 18:20] tundebabzy opened #9 "Hard coded id in XML layout"
mTv = (TextView) findViewById(R.id.expandable_text);
    mButton = (ImageButton) findViewById(R.id.expand_collapse);

These lines in `findViews` mean that the id for the children of ExpandableTextView *must* be `expandable_text` and `expandand_collapse` for the TextView and ImageButton respectively.

I initially changed the ids in my XML layout and slammed into a null-pointer exception until i dug

[2015-01-01 15:40] hisham2007 commented on #8
I face the same issue with Android Studio.. please help

[2015-01-02 10:26] tundebabzy commented on #8
@hisham2007 Are you getting the same error message? I can't remember encountering issues with Android Studio.

[2015-01-03 02:02] hisham2007 commented on #8
the issue was with sample app. I imported library project successfully and used it

[2015-01-05 16:32] Manabu-GT commented on #8
@hisham2007 Are you still having the issue? I use Android Studio 1.0.2 locally, and currently have no issue building the sample app.

[2015-01-05 16:35] Manabu-GT commented on #9
It will nice if this "limitation" is made known to users or better still, remove the hard coded ids.
-> sorry for confusion, I will clarify that fact on the README.

[2015-01-07 16:05] LinkOut opened #10 "java.lang.NullPointerException"
java.lang.NullPointerException
	at com.ms.square.android.expandabletextview.ExpandableTextView.findViews(ExpandableTextView.java:226)
	at com.ms.square.android.expandabletextview.ExpandableTextView.onFinishInflate(ExpandableTextView.java:151)
	at android.view.LayoutInflater.rInflate_Original(LayoutInflater.java:814)
	at android.view.LayoutInflater_Delegate.rInflate(LayoutInflater_Delegate.java:64)

[2015-01-07 18:26] Fgabz commented on #10
Same for me

[2015-01-08 10:25] Manabu-GT commented on #9
README just updated to mention this limitation.

[2015-01-08 10:25] #9 closed

[2015-01-08 10:27] Manabu-GT commented on #10
The currently implementation requires that the view Ids for TextView and ImageButton to be set to "@id/expandable_text" and "@id/expand_collapse" respectively.
I also updated README to mention about it.

If the problem still persists after you update your layout file to use those ids just like the below, please let me know and I will investigate.

  <com.ms.square.android.expandabletextview.Expand

[2015-01-08 11:21] LinkOut commented on #10
Ok i got it. Working Thanks.

[2015-01-08 11:32] LinkOut commented on #10
Is it possible to use a ImageView with the same id as the ImageButton? Is there a way to customize the imageButton image? Thanks.

[2015-01-08 14:32] Manabu-GT commented on #10
Is it possible to use a ImageView with the same id as the ImageButton?
-> Nope. It currently only supports ImageButton.

Is there a way to customize the imageButton image?
->As written on README, you can set the following attributes in your layout xml file to customize the images of the ImageButton.

 * `expandDrawable`
 Customize a drawable set to ImageButton to expand the TextView

 * `collapseD

[2015-01-08 14:33] Manabu-GT commented on #8
@hisham2007 plz reopen if u are still experiencing the issue.

[2015-01-08 14:33] #8 closed

[2015-01-08 17:59] LinkOut commented on #10
expandableTextView:expandDrawable="@drawable/ic_my_draw" seems not to works. Is it correct? Inside the ImageButton.

[2015-01-09 08:10] LinkOut commented on #10
You've done a great job, works perfectly. Thank You.

[2015-01-09 08:10] #10 closed

[2015-01-23 15:40] Defuera opened #11 "Error:No such property: GROUP for class: org.gradle.api.publication.maven.internal.ant.DefaultGroovyMavenDeployer"
I resolved this by commenting
// for maven central deployment
//apply from: 'https://raw.githubusercontent.com/chrisbanes/gradle-mvn-push/master/gradle-mvn-push.gradle'
in build.gradle of lib module

[2015-01-23 18:17] Wicowyn opened #12 "One line"
When the TextView have just one line to show, the ExpandableTextView let the possibility to be collapsed. And when click the line is cut in half without possibility to expand.

[2015-01-28 23:39] Manabu-GT commented on #12
@Wicowyn Thank you for reporting the issue. Since I could not reproduce the issue with one line of english text, can you please share the text and the layout file you used so that I can quickly reproduce the issue and fix it?

[2015-01-31 06:12] #11 closed

[2015-01-31 06:13] Manabu-GT commented on #11
The fix is in the master branch now.

[2015-02-02 11:17] Wicowyn commented on #12
Yes I try to reproduce it on a fresh project but it's a bit diffucult

[2015-02-18 12:39] vrvmadan opened #13 "Expand Collapse Icons not visible"
when i tried to implement the expandable text-view in a list view The expand and collapse icons are not appearing could you please help me out if i am doing wrong

MyCode: List_rowitem

<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:expandableTextView="http://schemas.android.com/apk/res-auto"
    android:layout_width="fil

[2015-02-27 08:05] Chesteer89 commented on #5
It's exists also, when you used cusom font. In my situation i used Calligraphy lib (https://github.com/chrisjenx/Calligraphy). It's strange, because when i expand selected textview, it does not shown last line, but when i scroll it in container (listview) the view is recreated fine - last line appears. Any ideas?

[2015-02-27 08:09] Chesteer89 commented on #13
When you don't expect a license, don't expect a help (com.fiveytechnologies.bhagavadgita.views.ExpandableTextView ).

Maybe your text is just too small to show collapse/expand icon?

[2015-02-27 09:18] Chesteer89 commented on #5
Interesting. With android:orientation="vertical" everything looks fine, in horizontal there's a bug with last line.

Assuming:
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:expandableTextView="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_paren

[2015-02-27 11:33] Manabu-GT commented on #13
Did you set the long enough texts for the expandable text?
Since your maxCollapsedLines attribute is 8, you need to have more than 8 lines of text for the expand icon to be shown.

[2015-03-13 07:23] slidenerd opened #14 "Expand/Collapse Bug with recyclerview"
![testgif](https://cloud.githubusercontent.com/assets/5139030/6634469/f457eab8-c97e-11e4-8a5c-bfe8a25d5e0a.gif)
Hi, first of all , awesome library because yours probably is the only one that does this. I am using your library with a recyclerview in my code. I set 3 lines to be displayed in my custom_item
![snap 2015-03-13 at 12 50 19](https://cloud.githubusercontent.com/assets/5139030/6634502/8993

[2015-03-13 07:25] slidenerd commented on #14
I forgot to mention one thing, I am using your library with this https://github.com/cymcsg/UltimateRecyclerView could that be any reason for a clash? Do let me know thanks

[2015-03-13 07:40] slidenerd commented on #14
I may have figured out whats causing this, unlike the ListView where the getView will be called every time and you are the one whose deciding if the view should be recycled or not, thats not the case with a recyclerview, the onCreateViewHolder and onBindViewHolder are called initially when no recycled views are available but later the only method that gets triggered is the onBindViewHolder, does t

[2015-03-13 09:33] Manabu-GT commented on #14
Thanks for the info. I will take a look this weekend and get back to you.

[2015-03-16 17:44] ritesh24 opened #15 "Not working properly inside ScrollView"
Hi I am using ExpandableTextView inside ScrollView. It is not behaving as it should. Please take a look
![etv2](https://cloud.githubusercontent.com/assets/1598688/6672377/24275642-cc32-11e4-8a0d-732ee715cdb2.gif)

[2015-03-17 14:12] DrDuke commented on #15
Manabu, first of all: Thank you for writing this code ^_^

I was experiencing the same issue (in a ScrollView also) but then I tried to put the code in a simple activity with a LinearLayout and the same happens.
Then I checked the compile version and mine is 19 with buildTools 19, meanwhile this library is compiled against 21 (and you need JDK 7 for that task) so I guess the problem is around ther

[2015-03-17 17:27] DrDuke commented on #15
Ritesh,
I tried  to update the code and nothing
Fiinally I discovered I was setting the TextView with setText("blablabla").
Instead, the ExpandableTextView should be the one set.

[2015-03-24 06:19] kirsong commented on #11
Thank you. I've been in the same situation

[2015-03-24 09:50] miklendap opened #16 "Justify support"
Hi,

I think your library would be more awesome with justification support. Is there any possibility to add this feature? For example by adding  one of theese libraries:
a) https://github.com/bluejamesbond/TextJustify-Android
b) https://github.com/navabi/JustifiedTextView
to "com.ms.square.android.expandabletextview.ExpandableTextView" instead of default TextView.

Regards,

Petr M.

[2015-03-28 16:21] Manabu-GT commented on #15
@ritesh24 Thank you for using my library. Is this issue still not resolved? Based on DrDuke's comment, I am wondering I should still look into this one. If the issue is still occurring, please share the entire layout xml file you are using for ExapandableTextView.

[2015-04-12 09:42] gnuhpc opened #18 "Wrong mCollapsedHeight measured"
When I use this view, I found when collapsed, there was no action to collapsed.

After Checking the source code, I put the code:
 mCollapsedHeight = getMeasuredHeight();
in to the post method of mTv.

It woks. I am wondering if this is an issue.

[2015-04-15 08:36] ikkyu0319 opened #19 "Defult open？"
how do U setXXXX（）， this is Defult  Open~~

[2015-04-16 04:22] squeeish commented on #15
I keep running into this issue, where I inadvertently set text to the inner textview instead of the overall expand_text_view. The README.md should include this caveat. :)

[2015-04-16 15:16] ikkyu0319 commented on #19
I want set ExpandableTextview  Expansed，but Not OK~~

    public void setExpandsed() {
        onClick(mTv);
    }

[2015-04-17 03:49] squeeish commented on #12
I've encountered this as well, with English text. I'll post up my code and a recording to demonstrate later today.

[2015-05-13 09:19] SethFeng commented on #13
@vrvmadan
The orientation of ExpandableTextView is horizontal, and your TextView's layout_width is match_parent. ImageButton has no space.

[2015-05-13 09:34] SethFeng commented on #14
I met a problem when I set ExpandableTextView's orientation horizontal:
[code]
In a item of RecyclerView, when the state of ExpandableTextView is expandle, and scroll the RecyclerView to make this item rebind(onBindViewHolder again), click the ExpandableTextView will make the text invisible.
The problem is solved by setting TextView's layout_width "wrap_content". But I don't know why.

[2015-05-18 07:55] squeeish opened #20 "OnClickListener for ImageButton in ExpandableTextView"
I am only able to expand the text by tapping on the text itself; nothing happens if I tap the ImageButton. Is this by design?

[2015-06-13 17:47] #13 closed

[2015-06-14 09:35] Manabu-GT commented on #20
No, the text should also expand when the ImageButton is tapped.
Are you possibly setting the clicklistener by yourself on the ImageButton?
If you can share the project which reproduces the issue, I can take a look.

[2015-06-14 16:29] Manabu-GT commented on #19
Currently, the default state is collapsed mode. I will consider adding an option of specifying the default state in the next release.

[2015-06-14 16:45] Manabu-GT commented on #15
The README.md should include this caveat. :)
-> Thank you for your feedback. I just updated the README to point that out.

[2015-06-14 16:45] #15 closed

[2015-07-21 02:51] luwei2012 opened #22 "Sometimes work, sometimes not"
![expand](https://cloud.githubusercontent.com/assets/3058705/8792121/01c74982-2f96-11e5-9c38-510ee4d885d5.gif)
I'm using SuperSLiM to set a head for my recycleview.

[2015-07-26 03:50] wiliemusLin opened #23 "hi"
i like it

[2015-08-18 13:11] Dhrupal opened #24 "Change drawable"
Can we change drawable of up and down?

[2015-08-26 15:51] pdavid0 commented on #20
I have the issue too, just implemented the sample in a recyclerview .

[2015-08-26 15:54] pdavid0 commented on #18
In a RecyclerView, if the TextView is expanded and you scroll, the mesuredHeight is wrong.
@gnuhpc does your modification fix that ?

Thanks !

[2015-08-30 14:09] mendhak opened #25 "ExpandableTextView inside an ExpandableListView - collapsing problem"
I'm trying to get some `ExpandableTextView` inside an [ExpandableListView](http://developer.android.com/reference/android/widget/ExpandableListView.html).

I run into a problem like so:

1.  Expand the ExpandableListView
2.  Expand the ExpandableTextView
3.  Collapse the Expandable**List**View
4.  Reopen the ExpandableListView and at first everything seems OK...
5.  Collapse the ExpandableTextView

[2015-08-30 20:35] mendhak commented on #24
Yes, see: https://github.com/Manabu-GT/ExpandableTextView#usage

expandDrawable and collapseDrawable can be set.

[2015-10-17 21:20] DenisMondon commented on #19
@ikkyu0319
You can try by performing a click on the ExpandableTextView like this:
[code]

[2015-10-31 11:28] slidenerd opened #26 "Extra blank space when expanded inside RecyclerView"
Hi Manabu-GT, I am using a slightly modified version of your library, the only modification I did was to remove the drawable for expand and collapse and replace that with a TextView instead so that it shows Read More and Read Less
![testgif](https://cloud.githubusercontent.com/assets/5139030/10863345/612d58d0-7ff0-11e5-8ffc-214a018c0528.gif)

When I expand an item in the RecyclerView and scroll do

[2015-10-31 12:09] slidenerd commented on #26
Never mind, I fixed it, i was calling the wrong setText method without using a Sparse Boolean Array, thanks for your library

[2015-10-31 12:09] #26 closed

[2015-11-20 11:39] kambleanjali1993 opened #28 "Not able to set android:ellipsize="end""
I added this line in Textview
 <TextView
                    android:id="@id/expandable_text"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="10dp"
                    android:layout_marginRight="10dp"
                    android:textSize="16sp"
                    android:ellipsize="end

[2015-11-24 08:44] ashokslsk opened #29 "How to change the dropdown arrow's angle to face right handside."
Hi Awesome library i was searching for accordian kind of similar library and yours kind intriguingly matched my intuition but i need small tweaks on the lib ui like dropdown animation arrow should face right hand side how can i achieve it. and on clicking a title textview i should be able to expand the textview how can i do this. simple example would be i am looking for this
![screen shot 2015-11-

[2016-01-30 10:46] alirezaaa opened #34 "Weird behavior"
Hi,

If you open the first TextView, then open second one and after that close the first one, the first one won't be expand or collapsed because the onClick doesn't work anymore!

[2016-01-31 17:48] #24 closed

[2016-02-20 20:35] ultraon commented on #25
Hello, I think i know, how we can resolve this issue.
add this code after line #119 in ExpandableTextView (onClick method):
[code]

[2016-03-05 02:16] aaronhe42 commented on #14
I had similar issue with [`ExpandableTextview` in AOSP](https://android.googlesource.com/platform/packages/apps/Calendar/+/refs/heads/master/src/com/android/calendar/ExpandableTextView.java) which this library is based on.

I solved it by simply using the plain old `TextView` and keeping expanded status my self. Whenever the `onBindViewHolder` is called, check the expanded status, and then `setMax

[2016-03-10 09:19] mohanraj546 commented on #14
is the issue fixed which was mentioned by slidenerd....?

[2016-03-18 10:23] barykaed commented on #20
yup.. this is quite annoying. is there no fix yet?

[2016-03-18 10:40] barykaed opened #36 "android:textIsSelectable="true" causes weird layout issues"
adding ```android:textIsSelectable="true"``` to the inner ```TextView``` causes weird layout issues when toggling the expanded mode. This is crucial for an app i'm working on right now.

[2016-03-21 11:23] SandeepPinninti commented on #11
###s # s# s#s ## ### s

[2016-03-28 07:15] MARGI3 opened #37 "maxCollapsedLines not work"
when ExpandableTextView  parent layout set width 0dp and set weight ,the maxCollapsedLines  not work , the text will all show . but when set ExpandableTextView parent layout width "match_parent" and set weight , the maxCollapsedLines work fine .

[2016-04-01 09:48] shizhongyu opened #38 "how to know it is expand and collapsed。"
how to know it is expand and collapsed。

[2016-04-05 10:24] 13588823551 opened #39 "ExpandableTextView works wrong~"
I use the lib of Ultra-pull-to-refresh to show a list.The expandableTextView is used in the itemview.But they can not work fine.The url is "https://github.com/liaohuqiu/android-Ultra-Pull-To-Refresh".How shuld I to fix it?

[2016-04-06 02:49] 13588823551 commented on #39
Never mind.It's my mistake.Thanks.

[2016-04-06 02:49] 13588823551 commented on #39
Never mind.It's my mistake.Thanks.

[2016-04-06 02:49] #39 closed

[2016-04-17 04:49] qiu1992 opened #40 "collapse do not work"
I checked out your code,and run ,finally found it didn't work(collapse).After debug it ,I found the height is not correct(mCollapsedHeight).here is my solution.

problem code:
`
        if (mCollapsed) {
            animation = new ExpandCollapseAnimation(this, getHeight(), mCollapsedHeight);
        } else {
            animation = new ExpandCollapseAnimation(this, getHeight(), getHeight() +

[2016-04-17 05:38] qiu1992 commented on #40
sorry ,it was my mistake.because the layout have a parent layout which height is match parent

[2016-04-17 05:38] #40 closed

[2016-04-25 04:08] MARGI3 commented on #5
i got this problem too

[2016-05-23 02:27] lijunhuayc opened #41 "the library do not work"
compile 'com.ms-square:expandableTextView:0.1.4'

error:
Uncaught translation error: java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: GC overhead limit exceeded
Uncaught translation error: java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: GC overhead limit exceeded
Uncaught translation error: java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError

[2016-06-13 12:38] lossan opened #43 "Add more views?"
Is it possible to add more views in the list item, such as another textview, or a radio button? where these views will be visible on expand and invisible on collapse.
Thank you,

[2016-06-19 15:57] squeeish commented on #41
It works. Restart Android Studio, clean and build project?

[2016-06-25 08:09] haonan1 opened #44 "In recycleView can not work well"
In a RecyclerView i have other view, if the TextView is expanded and you scroll，the other view in some item has gone  please give me some suggestion

[2016-07-07 15:48] payaswini commented on #5
How can we make text in expandabletextview to bold?Please give me the solution

[2016-07-14 04:10] jymycc commented on #44
have you fixed that ? i got the same problem: (

[2016-07-23 11:36] kukreja-vikramaditya commented on #44
Yes same here. Can you create a expand() and collapse() method?

[2016-07-24 16:27] mahdimortazavi commented on #36
I saw this problem.
![device-2016-07-24-205543](https://cloud.githubusercontent.com/assets/10667180/17084963/416c6914-51e1-11e6-91a9-02bae5d2590d.png)

[2016-07-24 16:29] mahdimortazavi commented on #36
I saw this problem.

![device-2016-07-24-205543](https://cloud.githubusercontent.com/assets/10667180/17084968/7d776c4c-51e1-11e6-800c-7186e94ae124.png)

[2016-07-25 13:45] mac8878 commented on #44
@kukreja-vikramaditya @jymycc @haonan1 seems like setting the visibility gone and then Visible on `OnBindViewHolder` will fix it , (working  for me)

[2016-09-08 13:15] abeemukthees commented on #28
@kambleanjali1993  I'm also facing the same issue

[2016-09-10 09:39] ZhaoKaiQiang opened #45 "This is not work in Samsung GT-I8268"
Can't expand when click the icon ,onMeasure not be called by system

[2016-09-19 08:29] HolenZhou commented on #44
same here. How to solve it?

[2016-09-20 16:14] Manabu-GT commented on #44
If anyone can share sample code which reproduces what you are experiencing, I can take a look this weekend.

Thank you.

[2016-09-22 08:14] ayaz-maqbool-confiz commented on #28
Same issue here.. Any work around?

[2016-09-25 09:26] emadbagheri96 opened #46 "replaced TextView with HtmlTextView but collapse not working"
hi
i just replaced the TextView in the lib with [this HtmlTextView ](https://github.com/SufficientlySecure/html-textview) which extends TextView itself. expanding works fine but collapsig wont work.
where is the problem?
thanks in advance

[2016-10-01 03:48] kukreja-vikramaditya commented on #44
I don't think it is a problem with library, could you guys check if your 'position' or 'holder' has the keyword 'final' before it?

[2016-10-06 11:54] gokul1408 opened #47 "Rendering problem"
java.lang.NoClassDefFoundError: com/ms/square/android/expandabletextview/R$styleable
    at com.ms.square.android.expandabletextview.ExpandableTextView.init(ExpandableTextView.java:253)
    at com.ms.square.android.expandabletextview.ExpandableTextView.<init>(ExpandableTextView.java:95)
    at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
    at sun.reflect.NativeConstructo

[2016-10-12 12:07] charlenelu opened #48 "Dynamically set the expandDrawable and collapseDrawable"
Can provide two public methods to dynamically set the  expandDrawable and collapseDrawable ?

[2016-11-21 03:17] zhuyifan2013 commented on #48
Agree.  it is not wise  for " TextView and ImageButton must be set to "@id/expandable_text" and "@id/expand_collapse" "

[2016-12-26 04:35] fanmingyi opened #49 "In RelativeLayout ,one view below of ExpandableTextView cause dislocation"
![a](https://cloud.githubusercontent.com/assets/22413240/21475157/016d8bb2-cb63-11e6-8444-681da32aff50.gif)

My English is not good,Hope you help thank you very much

[2016-12-26 04:36] fanmingyi commented on #49
[code]

[2016-12-26 04:43] fanmingyi commented on #49
Very happy to meet you in this platform, I am from China, was a 16 years old children, please forgive me such a childish question

[2017-01-10 11:17] Studentessa commented on #44
hello every body! I'm getting the same problem, I have tried using @billionbucks trick but it doesn't work. I'm not using final variables @kukreja-vikramaditya !
tanks in advance!

[2017-01-12 06:22] 469277027 commented on #44
@Studentessa Thanks,it's works very good

[2017-01-19 15:59] deeps2 commented on #44
@Studentessa thanks, it works.
 In```
 onBindViewHolder(ViewHolder holder, final int pos) {
      ....
       SparseBooleanArray mTogglePositions = new SparseBooleanArray();

      // setText(@Nullable CharSequence text, @NonNull SparseBooleanArray collapsedStatus, int pos)
       holder.newsDescription.setText(listOfArticles.get(position).getDescription(), mTogglePositions , pos);
      //where n

[2017-02-03 13:54] nangsan commented on #44
@deeps2 your solution was right, but it has some flaw initialize the SparseBooleanArray while creating RecyclerView adapter and pass it to the setText method. That should do it.

[2017-02-03 13:56] nangsan commented on #18
#44 This thread has the proper solution to this issue

[2017-02-03 13:56] nangsan commented on #14
#44 This thread has the proper solution to this issue

[2017-03-10 06:14] Dovar66 commented on #49
16岁不小了吖

[2017-05-26 09:38] cococa opened #50 "a lot /n in text"
when user input a lot /n , like
String msg = "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\naaaaaa\n\n\n\n\n\n\n\n\n\n\n\n\n\n"

setText(msg, @NonNull SparseBooleanArray collapsedStatus, int position)

it will not work well

[2017-06-14 09:07] wmq389122157 commented on #14
Encountered the same problem, how to solve?

[2017-06-16 08:33] Mixiaomi commented on #14
Encountered the same problem, how to solve?

[2017-06-16 09:25] Mixiaomi commented on #18
@gnuhpc，TextView 内容足够长，超出一屏， mCollapsedHeight计算的有问题，你有遇到这个问题吗？

[2017-06-16 10:01] Mixiaomi commented on #14
@wmq389122157 @mohanraj546 @slidenerd  @aaronhe42 If the content of the TextView is long enough, you can set mAnimationDuration = 0, setDuration (mAnimationDuration), and cancel the animation

[2017-06-19 13:42] wmq389122157 commented on #14
@Mixiaomi  Thank you very much. The problem is settled. Thanks again!

[2017-07-03 07:07] naveenvenkannagari opened #51 "Links are not clickable in ExpandableTextView"
Setting HTML text as a part of ExpandableTextView using (Html.fromHtml(String, int)) . when there are hyperlinks as a part of HTML context its display as a link. the clicking of that link will collapse the view instead of opening that link.
Is the textview which is wrapped in ExpandableTextView (LinearLayout) is
 textview.setMovementMethod(LinkMovementMethod.getInstance()); ??

[2017-07-27 20:41] DigaoParceiro commented on #26
My solution was delete the `expandableTextView:maxCollapsedLines` line from the xml

[2017-08-01 09:55] monikagupta94 commented on #14
@Mixiaomi Thank you. It Worked.

[2017-08-01 10:01] monikagupta94 commented on #44
@Studentessa Thank you. It worked but also need to change animation 0  if content is enough long.

[2017-08-28 03:41] a895786125 commented on #51
As we can

[2017-09-28 02:23] ShuichiSyad commented on #51
@naveenvenkannagari The links are clickable..
To create an expendableTextView, we have to make a TextView inside it with id of "expandable_text".
Just declare the "expandable_text" in your java class

`TextView expandable_text = (TextView) findViewById(R.id.expandable_text);

then set the LinkMovementMethod to it

`expandable_text.setMovementMethod(LinkMovementMethod.getInstance());

Make sure the

[2017-10-27 13:05] rhonyabdullah opened #53 "Development Support"
Are you still support this library @Manabu-GT ?

[2017-11-01 06:10] liguangze opened #54 "这个向下的角标能放到textView的最后一个文字后面吗"

[2017-11-02 09:53] conanbo opened #55 "TextView 内容足够长，超出一屏， mCollapsedHeight计算的有问题"
点击会失效

[2017-11-07 05:38] Manabu-GT commented on #53
Sorry, it's been a while since I last updated this library because my focus has shifted to non-Android work. However, I plan to provide some updates by the end of this year, but not anytime soon.

Thanks.

[2017-11-27 09:54] shiner0 opened #56 "和recyclerview配合一起使用的时候下拉刷新"
和recyclerview配合一起使用的时候反复下拉刷新  ExpandableTextView距离下面控件的距离越来越大 是什么问题

[2017-11-29 08:59] ViTVetal commented on #51
After I used .setMovementMethod(LinkMovementMethod.getInstance()); my text expand/collapse at the top. (bottom part all time visible instead of top)

[2017-12-18 07:43] momokosa commented on #46
String strHtml = "`<b>"content with html</b>`"
Spanned spanned = Html.fromHtml(strHtml );

// sample code snippet to set the text content on the ExpandableTextView
        ExpandableTextView expTv1 = (ExpandableTextView) view.findViewById(R.id.expand_text_view)
                .findViewById(R.id.expand_text_view);

// IMPORTANT - call setText on the ExpandableTextView to set the text content to di

[2018-01-05 03:35] ImportEffort opened #57 "mCollapsedHeight always 0 , when click to close the ExpandView"
The XML Layout is：

[code]

in Adapter i do :

[code]
when i unfold the item  the item is Invisible, but when scroll out screen then it visible when it in screen next time

[2018-02-11 08:39] i2863CookieZJ opened #58 "i set spannablestring in the text,it works error in recycleview when i collapse the it"
i need collaspe the last few lines of the article, but it collaspe the first few lines of the article,can u help me?

[2018-02-12 01:40] i2863CookieZJ commented on #58
I was positioned to the problem，when i let the textview setMovementMethod,the probrom occurred.can u give me some suggestion

[2018-02-12 02:25] i2863CookieZJ commented on #58
i solve it.
if someone has the same problem,it maybe can help u.
when u setMovementMethod for textview,u also let it scroll. u need prohibit it,so overridde the LinkMovementMethod like this:

public class NoScrollLinkMovementMethod implements OnTouchListener {
    @Override
    public boolean onTouch(View v, MotionEvent event) {
        TextView widget = (TextView) v;
        Object text = widget.

[2018-02-24 09:43] ltg1308101101 commented on #55
去除动画 OK

[2018-02-24 09:46] iBotasky commented on #55
It's may not the calculate `mCollapsedHeight` cause the problem.
I think is the method `clearAnimation();`  cause the problem, try to remove this code in front of the `startAnimation(animation);`

[2018-03-16 12:29] davern97 commented on #10
I have a problem:
                   Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.ms.square.android.expandabletextview.ExpandableTextView.setText(java.lang.CharSequence)' on a null object reference
                      at com.company.jobs.jobsproject.MainActivity.onCreate(MainActivity.java:39)

In the MainActivity I have this:
        expTv1 = (ExpandableT

[2018-05-05 07:03] JMaKing opened #59 "shit"
shit

[2018-06-04 08:27] sj8521123 commented on #28
I try to
  expTv1.setOnExpandStateChangeListener(new ExpandableTextView.OnExpandStateChangeListener() {
            @Override
            public void onExpandStateChanged(TextView textView, boolean isExpanded) {
                if (!isExpanded) {
                    textView.setMaxLines(3);
                    textView.setEllipsize(TextUtils.TruncateAt.END);
                }
            }

[2018-07-09 04:43] tanwanjern opened #62 "How to hide the image button and create custom button?"
Hi, I want to remove the image button and add my custom button but it will crash, so I tried to hide the image button but this code is not working ` android: visibility="gone"` . the image button will display even I added this code. So how to hide it?

My custom button just displays a 'Read More' text and no image.

Or I have to create 'read more' image for it? any other solution?

[code]

[2018-07-09 06:08] tanwanjern commented on #62
I found the solution.
android:layout_width="0dp"
android:layout_height="0dp"

[2018-07-09 06:08] #62 closed, assigned to nobody

[2018-07-13 05:24] xman2017 commented on #54
老哥你有没有解决，跟你一样的需求

[2018-07-26 05:55] SunJenry opened #63 "Write the widget in xml ,but show nothing in screen.Anything wrong?"

[2018-07-27 13:51] BzCoder commented on #44
@Studentessa thanks a lot,you solve my problem!

[2018-08-01 07:02] hanxiaoqiangfly opened #64 "内容显示不全"
内容够长的情况下，显示不全，另外给控件设置padding ，margin值会影响内容显示

[2018-08-10 11:11] pk4393 commented on #14
Hi, I am also facing an issue. While using the ExpandableTextView inside RecyclerView, whenever I am trying to collapse the TextView it becomes invisible.

[2018-08-28 07:24] AhmMhd commented on #63
<com.ms.square.android.expandabletextview.ExpandableTextView
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:expandableTextView="http://schemas.android.com/apk/res-auto"
        android:id="@+id/expand_text_view"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        expandableTextView:maxCollapsedLines="4"
        expandab

[2018-09-20 14:54] bgnacek commented on #28
Any update on this?

[2018-11-27 00:57] NaturallyAsh commented on #63
@AhmMhd @Manabu-GT I am having the same problem.  The view is not inflating or being recognized in my xml for some reason.  I have it in its own xml in a linear layout but the linear layout is showing empty and when I click on the layout nothing in the blueprint is highlighting.  Any suggestions?

[2018-11-27 01:53] NaturallyAsh commented on #63
never mind, figured it out =]

[2018-11-29 05:14] Komal-Khairnar commented on #63
Can you please tell me the solution?

[2018-12-05 20:52] NaturallyAsh commented on #63
I had to put the linear layout in a scrollview for it to be visible.  It's still not showing in my blueprint but when I run it on my emu or phone it shows up.

<ScrollView
                        android:id="@+id/detail_scrollView"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:nestedScrolling

[2018-12-26 10:09] qinxianyuzou commented on #5
I also encountered the same problem. After the super.onMeasure method, the lineCount obtained by the textview is incorrect, resulting in incorrect calculation height.

[2018-12-26 11:25] qinxianyuzou opened #65 "In the recyclerview, the expansion does not display the entire content correctly."
According to debug, I think that the number of rows that get the textview is incorrect. The number of rows obtained before the super.onMeasure() method is correct (may be 0), but the number of rows obtained after this is less. Up
------------------------------Above from Google Translate, the following is the original----------------------
根据debug，我认为是获取textview的行数不正确导致的，在super.onMeasure()方法之前获取到的行

[2018-12-26 13:09] qinxianyuzou commented on #65
I see a problem, because mRelayout this switch affect the execution of onMeasure, this switch will only limit the re-measurement at the time the text changes, and in recyclerView in, setText time may not accurately measure the width and height, needs The measurement is accurate after the complete itemView is drawn, so just let the onMeasure perform the measurement smoothly after the view is drawn

[2019-01-22 12:37] Greatkingcj commented on #14
i solve this problem.  when this view detach from window , animion might not finish。you can use ValueAnimator。here is the code:
`@Override
    public void onClick(View view) {

        if (mStateTv.getVisibility() != View.VISIBLE) {
            return;
        }

        mCollapsed = !mCollapsed;
        mStateTv.setText(mCollapsed ? mExpandString : mCollapsedString);
//        mStateTv.setCompoun

[2019-02-04 20:46] zakaria5729 opened #66 "Can not works with androidx in android 3.3 version and gradle version 3.3.0"
This is the issue:
`Caused by: java.lang.ClassCastException: androidx.appcompat.widget.AppCompatTextView cannot be cast to com.ms.square.android.expandabletextview.ExpandableTextView`

[2019-02-21 06:33] Kashish-Sharma opened #67 "AndroidX"
Migrate to AndroidX !

[2019-02-24 16:05] kanishk779 opened #68 "There is no support for collapsing an already expanded textview."

[2019-04-09 13:25] c0dehunter commented on #29
I am also interested in this.

[2019-04-29 17:51] zdunex25 commented on #51
If I use more than one **ExpandableTextView** (as in list view) it only work for first entry, moreover we are not able to rename IDs (like **expandable_text**), so I cannot make unique IDs for another entries.

[2019-04-30 09:29] c0dehunter commented on #68
Actually you can collapse the view with setText():

    @Override
    public View getView(int position, View convertView, ViewGroup parent) {
        SparseBooleanArray mTogglePositions = new SparseBooleanArray(); // leave it empty to collapse
        holder.content.setText(someText, mTogglePositions, position);
    }

See https://github.com/Manabu-GT/ExpandableTextView/issues/44#issuecomment-2715

[2019-05-09 14:35] eniz1806 commented on #65
Yes, you are right. I have same problem. I see just half of my text when I do expand. Any solution out there for this? Thank you.

[2019-05-10 01:55] qinxianyuzou commented on #65
Please see my reply above.
`if (!mRelayout || getVisibility() == View.GONE) {
            super.onMeasure(widthMeasureSpec, heightMeasureSpec);
            return;
        }`
to
`if (getVisibility() == View.GONE) {
            super.onMeasure(widthMeasureSpec, heightMeasureSpec);
            return;
        }`

[2019-05-10 07:46] eniz1806 commented on #65
how to change that? Can' t change anything in class.

[2019-05-15 12:42] gopalawasthi123 opened #69 "I cannot add three dots while ExpandableTextView is Collapsed"
While the Text is collapsed I cannot add the three dots while view is collapsed. Is it possible to add the three dots in the view

[2019-05-16 10:49] gopalawasthi123 commented on #28
same issue happened with me

[2019-08-26 03:46] luyingchn commented on #28
that's useful

[2019-11-26 08:00] aiynmm commented on #55
How to solve this problem? I have the same problem!

[2019-11-26 08:02] ltg1308101101 commented on #55
&nbsp;
It's may not the calculate mCollapsedHeight cause the problem.
I think is the method clearAnimation(); cause the problem, try to remove this code in front of the startAnimation(animation);

 ------------------&nbsp;原始邮件&nbsp;------------------
  发件人:&nbsp;"Mars"<notifications@github.com&gt;;
 发送时间:&nbsp;2019年11月26日(星期二) 下午4:00
 收件人:&nbsp;"Manabu-GT/ExpandableTextView"<ExpandableTextView@nor

[2019-11-26 08:11] aiynmm commented on #55
@ltg1308101101 I have tried to remove `clearAnimation()`, but it didm't work!

[2019-11-26 08:17] aiynmm commented on #44
@Studentessa What's your mean about what you said that need to change animation 0 if content is enough long? I have a problem when collaping the text if content is enough long!

[2019-11-26 11:14] Studentessa commented on #44
@aiynmm  what your'asking was refered by @monikagupta94 , maybe he can answer you. =D

[2019-11-27 02:18] aiynmm commented on #44
I'm sorry, I misread it! @Studentessa

[2019-11-27 02:20] aiynmm commented on #44
@monikagupta94 Could you tell me what should I do to solve this problem!

[2019-12-03 10:33] dongxingrong commented on #44
Solution: while using in recyclerview, use SpareIntArray to record mMarginBetweenTxtAndBottom and mCollapsedHeight, and reuse them when ExpandableTextView's init value is 0.
Reuse items in reycleview cause this problem.

[2019-12-13 09:27] geekykant opened #70 "Not Compatible with AndroidX (Empty screen)"
The following sample code provided doesn't output anything on the screen or the studio live preview.

**Versions**:
- expandableTextView:0.1.4
- gradle:3.5.0

[code]

[2019-12-20 05:54] sdnliumei commented on #55
去掉动画效果以后果然好了

[2020-03-24 02:27] c0dehunter opened #71 "MaxLines on expanded TextView?"
I want to limit max lines when textview is expanded. But it seems it's not working?

[code]

[2020-05-25 18:40] IAmProgrammist opened #72 "How to set custom expand/collapse ImageButtons src?"

[2020-05-25 18:55] IAmProgrammist commented on #72
Alright, I have founded decision. You just need to use attributes app:expandDrawable and app:collapseDrawable.

[2020-05-25 18:55] #72 closed, assigned to nobody

[2020-07-15 13:06] Kalzeroth commented on #70
I think you have to set the text in code. I'm using AndroidX and this library and I do have output in the emulator/device screen. No live preview though as you pointed out.

[code]

[code]

[2020-07-23 12:02] sunlightAndroid commented on #36
Is there a solution to this problem ？

[2020-09-10 19:32] harismuneer commented on #5
Incase of large text, the text isn't shown completely in expanded state. The solution suggested by @faraz-ahmad will work for every situation no matter how long the text is in the text view as compared to the addition of padding solution by @MARGI3 since you can't decide how much padding to add in order to fully display the text.

Trust me, I have spent two days working on this bug since in my cas

[2020-09-10 19:38] harismuneer opened #73 "Duplicate Issue Created by Mistake | GitHub Bug -.- | IGNORE"

[2020-09-10 19:39] harismuneer opened #74 "Duplicate Issue Created by Mistake | GitHub Bug -.- | IGNORE"

[2020-09-10 19:39] harismuneer opened #75 "Solution for "Text is not completely shown in Expanded State (Height Calculation Issue)""
Incase of large text, the text isn't shown completely in expanded state. This is still a bug in the latest version of this repository as of today and needs to be fixed in the next release @Manabu-GT . For now, following is the solution explained clearly.

**SOLUTION**

In ExpandableTextView class, in the **onMeasure** method: Cut the line

[code]

and paste it right below this line
[code]
Or for e

[2020-09-10 19:40] #74 closed, assigned to nobody

[2020-09-10 19:40] #73 closed, assigned to nobody

[2020-09-10 19:43] #5 closed

[2020-09-10 19:44] ghost commented on #75
Is it AndroidX compatible now?

[2020-09-10 19:53] harismuneer commented on #75
Some of the library versions used in the original repository are outdated now. I had to clone this repository and update the versions especially the annotation libraries like

[code]

with the AndroidX ones:

[code]

Some libraries used in the **build.gradle** file were also updated.  Therefore, after these modifications, I had to include this as a new module in the project since its now a customi

[2020-09-16 11:45] #66 closed, assigned to nobody

[2020-11-16 11:18] zhangyubao commented on #55
使用ValueAnimator动画重写
if (mCollapsed) {
            valueAnimator = ValueAnimator.ofInt(mStartHeight, mCollapsedHeight);
        } else {
            valueAnimator = ValueAnimator.ofInt(mStartHeight, mStartHeight + mTextHeightWithMaxLines - mTv.getHeight());
}

其他逻辑可以重用

[2021-07-02 13:52] pmbranco commented on #51
Tried this but with no success. Can someone provide a way to implement it? The expandable textview closes when I click on the link inside the expanded textview.

[2021-07-03 12:32] zdunex25 commented on #51
I had to import ExpandableTextView class and do some corrections in both ExpandListener and CollapseListener :
`contentText.setText(Html.fromHtml(text));
contentText.setMovementMethod(LinkMovementMethod.getInstance());`
in order to make links clickable.

Then in layout.xml i used: **com.my.packagename**.ExpandableTextView to load edited class instead of original one.

[2021-07-05 14:54] pmbranco commented on #51
I am doing precisely that... going to recheck it and let you know. Thanks for helping me out!

[2021-07-05 16:26] pmbranco commented on #51
I can do it on the textview while not expanded. But it didn´t work on the expanded text. Needed to also add to the xml element:
android:linksClickable="true"
android:autoLink="all"

[2021-08-04 07:51] taichushouwang commented on #65
In my case, remove `mRelayout`  may cause shrink when click the textview first, so I also change the Animation reference #55

[2021-09-08 06:23] #47 closed

[2022-10-27 09:37] sudhanshu79 opened #77 "Support for Android X"
Hi, Can you please upgrade your project to eliminate Android v7 support library and replace it with Android X as We need this to make sure our app is supporting Androd X completely. Looking forward to it.